<div class="card table-wrapper">
    <div class="card-body rounded-bottom bg-white p-5">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th class="text-center">Área</th>
                    <th class="text-center">Responsable</th>
                    <th class="text-center">Editar</th>
                    <th class="text-center">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {{#each areas}}
                <tr>
                    <td>{{nombreArea}}</td>
                    <td>{{nombrePersonal}}</td>
                    <td><a href="/areas/{{idArea}}" class="btn btn-info btn-raised btn-xs"><i
                                class="zmdi zmdi-refresh"></i></a>
                    </td>
                    <td><a href="#!" class="btn-delete-area btn btn-danger btn-raised btn-xs"
                            data-id="{{idArea}}"><i class="zmdi zmdi-delete"></i></a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="4">No hay registros para mostrar</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>