<!-- Content page-->
<section class="full-box dashboard-contentPage">
    {{>navigation/navbar}}
    </nav>
    <!-- Content page -->
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="text-titles"><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i> Trabajadores
                <small>Listado</small>
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-5">
                <a href="/personals/create">{{>btn-new}}</a>
            </div>
            <div class="col-lg-7" id="formSearchPersonal">
                <div class="card">
                    <div class="card-body rounded-bottom bg-white">
                        <div class="card-header bg-primary text-center">
                            <p class="text-white" style="font-size: 30px;">Buscar Personal por IE</p>
                        </div>
                        <form action="/personals" id="consultPersonal" method="POST">
                            <input type="hidden" class="form-control" name="page" id="page">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="form-group" style="margin: auto;">
                                        <select class="form-control" id="username" name="username" style="width: 100%;">
                                            <option value="{{username}}" selected>{{ie}}</option>
                                            {{#each institutions}}
                                            <option value="{{idInstitucion}}">{{nombreNivel}} - {{nombreInstitucion}}
                                            </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group" style="margin: auto; text-align: right;">
                                        <button class="btn btn-raised btn-sm"
                                            style="background-color: #01579B; margin: auto;">
                                            <p style="font-size: 20px; margin: auto; color: #fff;"><i
                                                    class="zmdi zmdi-search"></i> Consultar</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card">
                    <div class="card-body rounded-bottom bg-white p-5">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">DNI</th>
                                    <th class="text-center">Nombre I.E</th>
                                    <th class="text-center">Nombres y Apellidos</th>
                                    <th class="text-center">Id Reloj</th>
                                    <th class="text-center">Turno</th>
                                    <th class="text-center">Editar</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each personals}}
                                <tr>
                                    <td>{{dniPersonal}}</td>
                                    <td>{{nombreInstitucion}}</td>
                                    <td>{{nombrePersonal}}</td>
                                    <td>{{idReloj}}</td>
                                    <td>{{nombreTurno}}</td>
                                    <td><a href="/personals/{{idPersonal}}" class="btn btn-info btn-raised btn-xs"><i
                                                class="zmdi zmdi-refresh"></i></a>
                                    </td>
                                    <td><a href="#!" class="btn-delete-personal btn btn-danger btn-raised btn-xs"
                                            data-id="{{idPersonal}}" data-dni="{{dniPersonal}}"
                                            data-nombre="{{nombrePersonal}}" data-idreloj="{{idReloj}}"><i
                                                class="zmdi zmdi-delete"></i></a>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="6">No hay registros para mostrar</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <ul class="pagination pagination-sm" id="pagination">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer/footer}}
</section>

{{>navigation/navigation}}

<script>
    const current = ({{{ convertJson current }}});
    const pages = ({{{ convertJson pages }}});
    const username = document.querySelector("#username");
    const option = username.options[username.selectedIndex];

    const numPages = (num) => {
        let navPages = '';

        if (pages) {
            var i = (Number(current) > 5 ? Number(current) - 4 : 1);
            for (; i <= (Number(current) + 4) && i <= pages; i++) {
                let fila = '<ul class="pagination pagination-sm" id="pagination">';
                if (i == current) {
                    fila += '<li class="active">';
                } else {
                    fila += '<li>';
                }
                if (i === Number(current) - 4 && i < pages) {
                    fila += `<a href="#">...</a>`;
                }
                if (i === Number(current) + 4 && i < pages) {
                    fila += `<a href="#">...</a>`;
                }
                if (option.value === "") {
                    fila += `<a href="/personals/page${i}">${i}</a>`;
                } else {
                    fila += `<a id="enlace href="#" onclick="submitConsultPersonal(${i}); return false;">${i}</a>`;
                }
                fila += "</li></ul>";
                navPages += fila;
            }
        }
        return navPages
    }
    document.getElementById("pagination").innerHTML =
        numPages(pages);

    const formSearchPersonal = document.getElementById("formSearchPersonal");
    if (listUser.rol !== "administrador") {
        formSearchPersonal.innerHTML = ``;
    };

    function submitConsultPersonal(i) {
        const page = document.getElementById("page")
        page.value = i;
        document.getElementById('consultPersonal').submit();
    }

</script>