<!-- Content page-->
<section class="full-box dashboard-contentPage">
    {{>navigation/navbar}}
    </nav>
    <!-- Content page -->
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="text-titles"><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i> Trabajadores
                <small>Listado</small>
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-5">
                <a href="/personals/create">{{>btn-new}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card">
                    <div class="card-body rounded-bottom bg-white p-5">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">Documento</th>
                                    <th class="text-center">Nombre I.E</th>
                                    <th class="text-center">Nombres y Apellidos</th>
                                    <th class="text-center">Editar</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each personals}}
                                <tr>
                                    <td>{{dniPersonal}}</td>
                                    <td>{{nombreInstitucion}}</td>
                                    <td>{{nombrePersonal}}</td>
                                    <td><a href="/personals/{{idPersonal}}" class="btn btn-info btn-raised btn-xs"><i
                                                class="zmdi zmdi-refresh"></i></a>
                                    </td>
                                    <td>
                                        <form action="/personals/{{idPersonal}}?_method=PATCH" method="POST">
                                            <input type="hidden" name="_method" value="PATCH">
                                            <input class="form-control" type="hidden" id="documentNumber"
                                                name="documentNumber" value="{{dniPersonal}}">
                                            <input class="form-control" type="hidden" id="fullName" name="fullName"
                                                value="{{nombrePersonal}}">
                                            <input class="form-control" type="hidden" id="idReloj" name="idReloj"
                                                value="{{idReloj}}">
                                            <button type="submit" class="btn btn-danger btn-raised btn-xs"><i
                                                    class="zmdi zmdi-delete"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="5">No hay registros para mostrar</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <ul class="pagination pagination-sm" id="pagination">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer/footer}}
</section>

{{>navigation/navigation}}

<script>
    const current = ({{{ convertJson current }}});
    const pages = ({{{ convertJson pages }}});

    const numPages = (num) => {
        let navPages = '';

        if (pages) {
            var i = (Number(current) > 5 ? Number(current) - 4 : 1);
            for (; i <= (Number(current) + 4) && i <= pages; i++) {
                let fila = '<ul class="pagination pagination-sm" id="pagination">';
                if (i == current) {
                    fila += '<li class="active">';
                } else {
                    fila += '<li>';
                }
                if (i === Number(current) - 4 && i < pages) {
                    fila += `<a href="#">...</a>`;
                }
                if (i === Number(current) + 4 && i < pages) {
                    fila += `<a href="#">...</a>`;
                }
                fila += `<a href="/personals/page${i}">${i}</a>`;
                fila += "</li></ul>";
                navPages += fila;
            }
        }
        return navPages
    }
    document.getElementById("pagination").innerHTML =
        numPages(pages);

</script>