<div class="row">
    <div class="col-md-6">
        <div class="form-group label-floating">
            <label class="control-label">Rol del Usuario</label>
            <select class="form-control" id="rolUser" name="rolUser">
                <option value="{{product.idCategoria}}" selected>{{product.categoria}}</option>
                {{#each rolUser}}
                <option value="{{idRolUsuario}}">{{nombreRol}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group label-floating">
            <label class="control-label">Contraseña</label>
            <input class="form-control" type="password" id="formPassword" name="formPassword">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group label-floating">
            <label class="control-label">I.E</label>
            <select class="form-control" id="username" name="username" style="width: 100%;">
                <option value="{{product.idCategoria}}" selected>{{product.categoria}}</option>
                {{#each institution}}
                <option value="{{idInstitucion}}">{{nombreNivel}} - {{nombreInstitucion}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>