<div class="row">
    <div class="col-md-6">
        <div class="form-group label-floating">
            <label class="control-label">DNI</label>
            <input class="form-control" type="text" id="documentNumber" name="documentNumber"
                value="{{personal.dniPersonal}}" onkeypress="return solonumeros(event)">
        </div>
        <div class="form-group label-floating">
            <label class="control-label">Nombres y Apellidos</label>
            <input class="form-control" type="text" id="fullName" name="fullName" value="{{personal.nombrePersonal}}"
                onkeypress="return soloLetras(event)">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group label-floating">
            <label class="control-label">Id en el reloj</label>
            <input class="form-control" type="text" id="idReloj" name="idReloj" value="{{personal.idReloj}}"
                onkeypress="return solonumeros(event)">
        </div>
        {{#if (eq user.name "200006")}}
        <div class="form-group label-floating">
            <label class="control-label">Área</label>
            <select class="form-control" id="area" name="area" style="width: 100%;">
                <option value="{{personal.idAreaPersonal}}" selected>{{personal.nombreArea}}</option>
                {{#each areas}}
                <option value="{{idArea}}">{{nombreArea}}</option>
                {{/each}}
            </select>
        </div>
        {{/if}}
        {{#if (eq turnoIE 2)}}
        <div class="form-group label-floating">
            <label class="control-label">Turno</label>
            <select class="form-control" id="turnPersonal" name="turnPersonal" style="width: 100%;">
                <option value="{{personal.idTurnoPersonal}}" selected>{{personal.nombreTurno}}</option>
                {{#each turnPersonal}}
                <option value="{{idTurnoPersonal}}">{{nombreTurno}}</option>
                {{/each}}
            </select>
        </div>
        {{/if}}
        {{#if (eq level "secundaria")}}
        <div class="form-group label-floating">
            <label class="control-label">Asignatura</label>
            <select class="form-control" id="course" name="course" style="width: 100%;">
                <option value="{{personal.asignatura}}" selected>{{personal.nombreAsignatura}}</option>
                {{#each courses}}
                <option value="{{idAsignatura}}">{{nombreAsignatura}}</option>
                {{/each}}
            </select>
        </div>
        {{/if}}
    </div>
</div>