<!-- Content page-->
<section class="full-box dashboard-contentPage">
    {{>navigation/navbar}}
    </nav>
    <!-- Content page -->
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Usuarios
                <small>Listado</small>
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-5">
                <a href="/users/create">{{>btn-new}}</a>
            </div>
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body rounded-bottom bg-white">
                        <form action="/users" method="POST">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="form-group label-floating" style="margin: auto;">
                                        <label class="control-label">Nombre I.E</label>
                                        <input class="form-control" type="text" id="ie" name="ie" value="{{ie}}">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group" style="margin: auto; text-align: center;">
                                        <button class="btn btn-raised btn-sm" style="background-color: #01579B;">
                                            <p style="font-size: 20px; margin: auto; color: #fff;"><i
                                                    class="zmdi zmdi-search"></i> Buscar</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card">
                    <div class="card-body rounded-bottom bg-white p-5">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">Nombre I.E</th>
                                    <th class="text-center">Usuario</th>
                                    <th class="text-center">Rol</th>
                                    <th class="text-center">Editar</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each users}}
                                <tr>
                                    <td>{{nombreInstitucion}}</td>
                                    <td>{{idInstitucion}}</td>
                                    <td>{{nombreRol}}</td>
                                    <td><a href="#!" class="btn btn-info btn-raised btn-xs"><i
                                                class="zmdi zmdi-refresh"></i></a></td>
                                    <td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i
                                                class="zmdi zmdi-delete"></i></a></td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="5">No hay registros para mostrar</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <ul class="pagination pagination-sm" id="pagination">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer/footer}}
</section>

{{>navigation/navigation}}


<script>
    const current = ({{{ convertJson current }}});
    const pages = ({{{ convertJson pages }}});

    const numPages = (num) => {
        let navPages = '';

        if (pages) {
            var i = (Number(current) > 5 ? Number(current) - 4 : 1);
            for (; i <= (Number(current) + 4) && i <= pages; i++) {
                let fila = '<ul class="pagination pagination-sm" id="pagination">';
                if (i == current) {
                    fila += '<li class="active">';
                } else {
                    fila += '<li>';
                }
                if (i === Number(current) - 4 && i < pages) {
                    fila += `<a href="#">...</a>`;
                }
                if (i === Number(current) + 4 && i < pages) {
                    fila += `<a href="#">...</a>`;
                }
                fila += `<a href="/users/page${i}">${i}</a>`;
                fila += "</li></ul>";
                navPages += fila;
            }
        }
        return navPages
    }
    document.getElementById("pagination").innerHTML =
        numPages(pages);

</script>